.UserDialog-Wrapper{
    /*全屏覆盖*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    /*内容居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserDialog-Wrapper .UserDialog {
    min-width: 20em;
    background: white;
    border-radius: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    padding: 0 1em 1em 1em;
}

.UserDialog-Wrapper .UserDialog .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.UserDialog-Wrapper .UserDialog .nav label:nth-last-of-type(1) {
    margin-left: 1em;
    cursor: pointer;
}
.UserDialog-Wrapper .UserDialog .nav label input {
    margin-right: .5em;
}

.UserDialog-Wrapper .UserDialog .form {
    margin-top: 1em;
}

.UserDialog-Wrapper .UserDialog .form .row {
    margin-top: 1em;
    text-align: center;
}

.UserDialog-Wrapper .UserDialog .form .row .title {
    min-width: 4em;
    display: inline-block;
    text-align: right;
    cursor: pointer;
}

.UserDialog-Wrapper .UserDialog .form .row .submit {
    padding: 8px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.UserDialog-Wrapper .UserDialog .form .error {
    text-align: center;
    margin-top: 1em;
    color: red;
    max-width: 20em;
}
